<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli Ticket Assegnati</title>

    <th:block th:replace="~{fragments/head :: head}"></th:block>

</head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    </header>

    <main class="container" th:object="${ticket}">
        <section class="upper row">
            <div class="div col-12 text-center mb-3 mt-3">
                <h1 class="fw-bold">Dettagli Ticket assegnati all'operatore: [[*{utente.username}]]</h1>
            </div>
        </section>

        <section class="ticket row justify-content-center mb-5">
            <div class="card border-info" style="width: 40rem;">
                <div class="card-header border-info">
                    <h4 class="card-title">[[*{titolo}]]</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-text fs-6"><strong>Gestito dall'operatore:</strong> [[*{utente.username}]]</h6>
                    <h6 class="card-text fs-6"><strong>Categoria:</strong> [[${ticket.categoria.nome}]]</h6>
                </div>
                <div class="card-footer border-info"><strong>Stato:</strong> [[*{stato.nomeStato}]]</div>
            </div>
        </section>

        <section class="row">
            <div class="col-12 d-flex justify-content-center">
                <div>
                    <a th:href="@{/tickets/nota/{id}(id=*{id})}" class="btn btn-md btn-success w-100">Crea nuova
                        Nota</a>
                    <div class="card border-success" style="width: 40rem">
                        <div class="card-header border-success border-3 text-center fs-5 fw-semibold">
                            Elenco Note
                        </div>
                        <ul class="list-group list-group-flush" th:each="nota : ${ticket.note}" th:object="${nota}">
                            <li class="list-group-item" th:each="ruolo : ${nota.utente.ruoli}"><strong>Autore:</strong>
                                [[${ruolo.nomeRuolo}]] - [[*{utente.username}]]</li>
                            <li class="list-group-item"><strong>Data Creazione:</strong> [[*{dataCreazione}]]</li>
                            <li class="list-group-item"><strong>Nota:</strong> [[*{testo}]]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
        <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
    </footer>

</body>

</html>